# <h1>Today</h1>
# <p>The date is Wednesday, November 18, 2015.</p>


        <h1>Today</h1>
        <p> <%= DateTime.now.strftime("The date is %A, %B %-d, %Y") %> </p>

# date = DateTime.now
# date.strftime("The date is %A, %B %-d, %Y")